In [45]:
# Loading package
import pandas as pd
import numpy as np

# Import testing data
test = pd.read_csv('street.csv')
test.head()

# Creating mapping Dict
common_abbre = {'apartment' :'apt',
'#' : 'apt',
'avenue' : 'ave',
'boulevard' : 'blvd',
'building' : 'bldg',
'center' : 'ctr',
'circle' : 'cir',
'court' : 'ct',
'drive' : 'dr',
'east': 'e',
'expressway' : 'expy',
'extension' : 'ext',
'fort' : 'ft',
'freeway' : 'fwy',
'height': 'hts',
'highway' : 'hwy',
'island' : 'is',
'junction' : 'jct',
'lane' : 'ln',
'mount' : 'mt',
'north' : 'n',
'northeast' : 'ne',
'northwest' : 'nw',
'parkway':'pky',
'place' : 'pl',
'post office' : 'po',
'road' : 'rd',
'rural delivery' : 'rdR',
'rural route' : 'rr',
'saint' : 'st',
'south' : 's',
'southeast' : 'se',
'southwest' : 'sw',
'spring' : 'spg',
'square' : 'sq',
'street' : 'st',
'suite' : 'ste',
'terrace' : 'ter',
'turnpike' : 'tpke',
'west' : 'w',
'box' : 'box'}

Number = {'first':'1st',
'second':'2nd',
'third' :'3rd',
'fourth':'4th',
'fifth' :'5th',
'sixth':'6th',
'seventh':'7th',
'eighth':'8th',
'ninth':'9th',
'tenth':'10th',
'eleventh':'11th',
'twelfth':'12th',
'thirteenth':'13th',
'fourteenth':'14th',
'fifteenth':'15th',
'sixteenth':'16th',
'seventeenth':'17th',
'eighteenth':'18th',
'nineteenth':'19th',
'twentieth':'20th',
'twenty-first':'21st',
'twenty-second':'22nd',
'twenty-third':'23rd',
'twenty-fourth':'24th',
'thirtieth':'30th'}



# self-defined function (address standarization)
def address_standard(df, Dict1, Dict2):
    ## format ##
    # number + name + (ave/ blvd/ Ct/ Dr/ St/ Ste/ Rd)
    res = []
    for st in df['Address']:
        sep = st.split(' ')
        if len(sep) <= 1:
            res.append('** missing address type **')
            continue
        
        if sep[0].isnumeric() is False:
            lower = list(map(lambda x: x.lower(), sep))
            if 'box' in lower or 'po' in lower:
                res.append(' '.join(sep))
                continue
        
        
        if sep[-1].isnumeric():
            if sep[-2] == '#' and sep[-3] == 'apt':
                sep.pop(-2)
            Object = sep[-2].lower()
            if Object in Dict1.keys():
                sep[-2] = Dict1[Object]
            if Object in Dict1.values():
                sep[-2] = sep[-2].lower()
                pass
            else:
                res.append('** missing address type **')
                continue
        else:
            Object = sep[-1].lower()
            if Object in Dict1.keys():
                sep[-1] = Dict1[Object]
            elif Object in Dict1.values():
                sep[-1] = sep[-1].lower()
            else:
                res.append('** missing address type **')
                continue
        ## above works
        
        for i in range(1, len(sep)-1):
            Object = sep[i].lower()
            if Object in Dict1.keys():
                sep[i] = Dict1[Object]
            if Object in Dict1.values():
                sep[i] = sep[i].lower()
                pass
            else:
                sep[i] = sep[i].lower()
                
            if Object in Dict2.keys():
                sep[i] = Dict2[Object]
            
            
        res.append(' '.join(sep))
    df['correct_address'] = res
    
    ## second analysis
    missing_address = df[df['correct_address'] == '** missing address type **'].reset_index(drop=True)
    correct_sec = []
    for i in range(len(missing_address)):
        sep = missing_address['Address'][i].split(' ')
        if sep[0].isnumeric() and len(sep) > 1:
            if sep[-2] == '#' and sep[-1].isnumeric():
                sep[-2] = common_abbre[sep[-2]]
            else:
                sep = list(map(lambda x: x.lower(), sep))
            correct_sec.append(' '.join(sep))

    return df

In [46]:
# Display clean data
result = address_standard(test, common_abbre, Number)
result.to_csv('result.csv')
result.head()

                Address             correct_address
0               STREET1  ** missing address type **
1  22 EAST UNION STREET               22 e union st
2                   123  ** missing address type **
3    305 SEVENTH STREET                  305 7th st
4     INPATIENT BILLING  ** missing address type **

In [41]:
missing_address = result[result['correct_address'] == '** missing address type **'].reset_index(drop=True)
sep = missing_address['Address'][69].split(' ')
correct_sec = []
for i in range(len(missing_address)):
    sep = missing_address['Address'][i].split(' ')
    if sep[0].isnumeric() and len(sep) > 1:
        if sep[-2] == '#' and sep[-1].isnumeric():
            sep[-2] = common_abbre[sep[-2]]
        else:
            sep = list(map(lambda x: x.lower(), sep))
        correct_sec.append(' '.join(sep))

In [42]:
correct_sec

['1432 lincoln way',
 '4849 us 322',
 '2221 N BROAD ST apt 25',
 '825 paoli pike',
 '1200 veterans hwy ste c-10',
 '1011 w baltimore pike',
 '161 wilmington w chester p',
 '4 park plz',
 '703 w cecil b moore a',
 '3319 w chester pike',
 '20245 route 19',
 '373 benner pike',
 '1611 bethlehem pike',
 '100 sara way',
 '3380 blvd of the allies']